body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    background-color: rgb(224, 224, 224);
}

.full-page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar {
    height: 100vh;
    width: 15%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-top-style: none;
    border-color: rgb(150, 120, 21);
    border-width: 2px;
    background-color: rgb(80, 105, 138);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9;
    color: white;
}

.main-body {
    height: 100vh;
    width: 80%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 80px;
    left: 15%;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation a {
    margin-top: 50px;
    color: white;
    text-decoration: none;
}

.navigation a:hover {
    transform: scale(1.1);
    color: rgb(182, 158, 80);
}

.navigation a:active {
    transform: scale(1.05);
    color: rgb(182, 158, 80);
}

.header {
    width: 100%;
    height: 80px;
    background-color: rgb(80, 105, 138);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 10;
    color: white;
    border-style: solid;
    border-color: rgb(150, 120, 21);
    border-width: 2px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    margin-top: 100px;
}

.userName{
    margin-bottom: 25px;
    font-size: x-large;
}

.login-signup {
    font-size: small;
    margin-bottom: 5px;
    text-decoration: underline;
}

.logout {
    font-size: small;
    text-decoration: underline;
}

.logoAndTitle {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    bottom: -15px;
}

.logo {
    height: 75px;
    width: 75px;
    margin-right: 60px;
    margin-left: 60px;
}

.error {
    margin-top: 100px;
    margin-left: 100px;
}